@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-text-blue {
    color: #3799db;
  }
  .custom-bg-blue {
    background-color: #3799db;;
  }
  .custom-border-blue {
    border-color: #3799db;;
  }
  .custom-text-darkblue {
    color: #1c3664;
  }
  .custom-bg-darkblue {
    background-color: #1c3664;
  }
  .custom-border-darkblue {
    border-color: #1c3664;
  }
  .custom-text-yellow {
    color: #ffbd14;
  }
  .custom-bg-yellow {
    background-color: #ffbd14;
  }
  .custom-border-yellow {
    border-color: #ffbd14;
  }
  .hover-p:hover .child {
    display: block;
  }
}
